*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato;
}
 /* banner section */
 .banner{
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
 }

.banner-text{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.banner-btn{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}
.banner-img{
    margin-top: 50px;
    margin-left: 345px;
    margin-right: 240px;
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    
}